@import url('https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
/* img,
picture {
  max-width: 100%;
  display: block;
} */

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  /* Colors:
  #DA722C, #057ADA ,#E8F7FB ,#023047 ,#070917 ,#6F7DFB */
  --color-orange: #da722c;
  --color-dark-blue: #023047;
  --color-dark: #070917;
  --color-light-blue: #e8f7fb;
  --color-purple: #6f7dfb;
  --color-blue: #057ada;
}

/* General Styles */

.wrapper {
  width: 1134px;
  margin: 0 auto;
}

/* Header */
header {
  background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%);
  /* border: 1px solid #000; */
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
  height: 100vh;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 2rem 0;
  width: 1134px;
}

nav .logo {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 900;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 3rem;
  list-style: none;
  margin: 0;
}

nav ul li a {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

/* Hero Section */
.hero-section {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  /* padding-top: 60px; */
}

.hero-section .left {
  margin-top: 20%;
  width: 457px;
}

.hero-section .right {
  align-self: flex-end;
}

.hero-section .right img {
  vertical-align: middle;
}

.hero-section .left h1 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 0;
}

.hero-section .left p {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 200%; /* 32px */
  margin-bottom: 30px;
}

/* Achievement cards */
.achievment-card {
  position: absolute;
}

.achievment-card .content {
  border-radius: 24px;
  background-color: #fff;
  padding: 8px 32px;
}

.achievment-card.students-enrolled {
  left: 47%;
  top: 30%;
}

/* Buttons */

.btn {
  background-color: var(--color-orange);
  color: var(--color-light-blue);
  border: none;
  border-radius: 24px;
  padding: 16px 32px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.dark {
  background-color: var(--color-dark-blue);
  color: var(--color-light-blue);
}

.light {
  background-color: var(--color-light-blue);
  color: var(--color-dark-blue);
}

.btn.enroll-icon::before {
  content: url('/images/enrol-now-icon.svg');
  position: absolute;
  top: 33%;
  left: 2ch;
}

.btn.enroll-icon {
  padding-left: 4ch;
}
